* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   font-family: Arial, Helvetica, sans-serif;
}
#main {

}
.text-white {
   color: #fff !important;
}
.clear {
   clear: both;
}
#header {
   height: 46px;
   background-color: #000;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
#nav {
   display: inline-block;
}
#nav, .subnav {
   list-style-type: none;
}
#nav .subnav {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   min-width: 160px;
}
#nav .subnav a {
   color: #000;
   padding: 0 12px;
   line-height: 38px;
}
#nav li:hover .subnav {
   display: block;
}
#nav > li {
   display: inline-block;
}
#nav li {
   position: relative;
}
#nav > li > a {
   color: #fff;
   text-transform: uppercase;
}
#nav li a {
   padding: 0 24px;
   line-height: 46px;
   text-decoration: none;
   display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
   color: #000;
   background-color: #ccc;
}
#nav .nav-arow-down {
   font-size: 12px;
}
#header .mobile-menu-btn {
   display: none;
   float: right;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
}
#header .search-btn {
   float: right;
   position: absolute;
   top: 0;
   right: 0;
}
#header .menu-icon,
#header .search-icon {

   color: #fff;
   line-height: 46px;
   font-size: 20px;
   padding: 13px 20px;
}
#header .mobile-menu-btn:hover .menu-icon {
   color: #000;
   background-color: #ccc;
}
#header .search-btn:hover {
   cursor: pointer;
   background-color: #f44336;
}
/* slider */
#slider {
   margin-top: 46px;
   padding-top: 50%;
   background: url('../assest/img/chicago.jpg') top center / cover no-repeat;
   position: relative;
}
#slider .text-content {
   color: #fff;
   position: absolute;
   bottom: 47px;
   left: 50%;
   text-align: center;
   transform: translateX(-50%);
}
#slider .text-heading {
   font-weight: 500;
   font-size: 24px;
}
#slider .text-decription {
   font-size: 15px;
   margin-top: 25px;
}
/* content */
#content {
}
#content .content-section {
   width: 800px;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 64px 0 112px;
   padding-left: 16px;
   padding-right: 16px;
}
#content .section-heading {
   font-size: 30px;
   text-align: center;
   letter-spacing: 4px;
   font-weight: 500;
}
#content .section-sub-heading {
   text-align: center;
   font-size: 15px;
   opacity: 0.6;
   /* font chu nghieng */
   font-style: italic; 
   margin-top: 25px;
}
#content .about-text {
   margin-top: 15px;
   text-align: justify;
   line-height: 1.4;
}
#content .members-list {
   margin-top: 48px;
   text-align: center;
}
#content .member-item {
   float: left;
   width: 33.33333%;
}
#content .member-name {
   font-size: 15px;
}
#content .member-img {
   width: 150px;
   margin-top: 15px;
   border-radius: 4px;
}
.tour-section {
   background-color: #000;
}
.tour-section .ticket-list {
   font-size: 15px;
   margin-top: 40px;
   background-color: #fff;
   list-style-type: none;
}
.tour-section li {
   padding: 11px 16px;
   color: #757575;
}
.tour-section .sold-out {
   font-size: 15px;
   color: #fff;
   background-color: #f44336;
   padding: 3px 8px;
   margin-left: 16px;
   border: 1px solid #ccc;
}
.tour-section .quantity {
   width: 24px;
   height: 24px;
   float: right;
   background-color: #000;
   color: #fff;
   text-align: center;
   line-height: 24px;
   border-radius: 50%;
   margin-top: -3px;
}

.row {
   margin-left: -8px;
   margin-right: -8px;
}
.row::after {
   content: "";
   display: block;
   clear: both;
}
.col {
   float: left;
   padding: 0 8px;
}
.col-full {
   width: 100%;
}
.place-lits {
   margin-top: 16px;
}
.col-third {
   width: 33.33333%;
}
.col-half {
   width: 50%;
}
.mt-16 {
   margin-top: 16px;
}
.place-body {
   background-color: #fff;
   font-size: 15px;
   padding: 16px;
}
.place-img {
   width: 100%;
   display: block;
}
.place-img:hover {
   opacity: 0.6;
}
.place-heading {
   font-size: 15px;
}
.place-time {
   opacity: 0.6;
   margin-top: 15px;
}
.place-decs {
   margin-top: 15px;
}
.btn {
   background-color: #000;
   color: #fff;
   padding: 11px 16px;
   display: inline-block;
   margin-top: 15px;
   border: none;
}
.btn:hover {
   cursor: pointer;
   background-color: #ccc;
   color: #000;
}

.contact-heading {
   margin-top: 48px;
}
.contact-icon {
   font-size: 18px;
   line-height: 1.5;
}
.contact-icon i[class*="ti-"] {
   width: 30px;
   display: inline-block;
}
.form-control {
   width: 100%;
   padding: 11px;
   font-size: 15px;
   border: 1px solid #ccc;
}
.contact-full {
   margin-top: 9px;
}
.form-send {
   float: right;
}
.content-map {
   width: 100%;
   filter: grayscale(50%);
}
#footer {
   text-align: center;
   color: rgba(0, 0, 0, 0.6);
}
#footer .footer-icon {
   margin-top: 64px;
   font-size: 24px;
}

#footer .footer-content {
   margin-top: 16px;
   margin-bottom: 72px;
   font-size: 15px;
}
#footer .footer-link {
   color: rgba(0, 0, 0, 0.6);
}
.modal.open {
   display: flex;
}
.modal {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.3);
   display: none;
   align-items: center;
   justify-content: center;

}
.modal-container {
   width: 900px;
   max-width: calc(100% - 32px);
   min-height: 200px;
   background-color: #fff;
   position: relative;
   animation: modalFadeIn ease 0.3s;
}
.modal-close {
   position: absolute;
   right: 0;
   top: 0;
   padding: 12px 16px;
   color: #fff;
   cursor: pointer;
   opacity: 0.8;
}
.modal-close:hover {
   background-color: #ccc;
   color: #000;
}
.modal-header {
   font-size: 30px;
   background-color: #009688;
   height: 130px;
   padding: 42px 16px;
   text-align: center;
   color: #fff;
   letter-spacing: 4px;
   font-weight: 500;
}
.modal-body {
   font-size: 15px;
   padding: 16px;
}
.modal-label {
   display: flex;
}
.modal-input {
   margin-top: 15px;
   margin-bottom: 24px;
   width: 100%;
   padding:  8px;
   border: 1px solid #ccc;
}
.modal-pay {
   color: #fff;
   font-size: 15px;
   width: 100%;
   background: #009688;
   border: none;
   padding: 16px;
   text-transform: uppercase;
}
.modal-pay:hover {
   color: #000;
   background-color: #ccc;
   cursor: pointer;
}
.modal-footer {
   font-size: 15px;
   padding: 16px;
}
.modal-footer-close {
   color: #fff;
   background-color: #f44336;
   border: none;
   padding: 11px 16px;
}
.modal-need {
   float: right;
}
.modal-need a {
   color: #2196F3;
}
/* hieu ung cuon xuong cua modal */
@keyframes modalFadeIn {
   from {
      opacity: 0;
      transform: translateY(-100px);
   }
   to {
      opacity: 0.5;
      transform: translateY(0);
   }


}
